:root {
    --color1: coral;
    --color2: #343cac;
    --color3: #2e2d2c;
  }

body {
    font-family: 'Share Tech Mono', monospace;
}

.logo {
    position: fixed;
    left: 50px;
    font-size: 4rem;
    font-weight: 700;
    z-index: 20;
    cursor: pointer;
    display: inline-block;
    background: var(--color1);
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    margin: 15px 0;
    border: 0;
    font-weight: 600;
  }

  .logo:hover {
    position: fixed;
    left: 50px;
    font-size: 4rem;
    font-weight: 700;
    z-index: 20;
    cursor: pointer;
    display: inline-block;
    background: var(--color2);
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    margin: 15px 0;
    border: 0;
    font-weight: 600;
  }

.logo:active {
    background: var(--color3);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
  } 

section {
    height: 500px;
    background-color: white;
}

.home {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 2rem ;
}

footer {
    height: 500px;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-between;
    font-size: 1.5rem;
    flex-direction: column;
}

li {
    /*width: 200px;*/
    text-decoration: none;
}

.menu {
    position: fixed;
    top: 25px;
    right: 15px;
    width: 60px;
    height: 60px;
    background: var(--color1) url(../images/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 20;
    cursor: pointer;
}
  
.menu:hover {
    position: fixed;
    top: 25px;
    right: 15px;
    width: 60px;
    height: 60px;
    background: var(--color2) url(../images/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 20;
    cursor: pointer;
  }

.menu:active {
    background: var(--color3) url(../images/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
  } /**/

.navigation {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.navigation.active {
    left: 0;
    color: var(--color3);
  }
  
.navigation ul {
    position: relative;
  }
  
.navigation ul li {
    position: relative;
    list-style: none;
    text-align: center;
    font-size: 4rem;
  }
  
.navigation ul li a {
    font-size: 4rem;
    color: #111;
    text-decoration: none;
    font-weight: 300;
  }
  
.navigation ul li a:hover {
    color: var(--color2);
  }

h1 {
    font-size: 4rem;
    margin: 0px;
}

h3 {
    font-size: 2.5rem;
    margin: 30px 0px;
}

p {
    margin: 15px 0px 30px;
    font-weight: 100;
}

.home-text {
    margin-left: 40px;
    margin-bottom: 100px;
}

.social {
    margin-right: 10px;
    margin-bottom: 200px;
}
.home-area {
    display: flex;
    /*flex-direction: column;*/
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.btn {
    cursor: pointer;
    display: inline-block;
    background: var(--color1);
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    margin: 20px 0;
    border: 0;
    font-weight: 600;
}

.btn:hover {
    background: var(--color2);
}

.btn:active {
    background: var(--color3);
    color: #808080;
}

section .work {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    text-align: center;
    display: flex;
}

section .work-info {
    padding: 30px;
    display: flex;
  }
  
section .work-info:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }
  
section .work-info h2 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
    color: var(--color1);
  }
  
section .work-info .icon img {
    max-width: 100px;
  }

@media (max-width: 800px) {

  
    .logo {
      top: 10px;
      left: 40px;
      font-size: 1.5rem;
    }
  
    section {
      padding: 50px 50px;
    }
  
    .footer {
      padding: 100px 40px;
    }
}

@media (max-width: 600px) {

  
    .logo {
      top: 10px;
      left: 40px;
      font-size: 1.5rem;
    }
  
    section {
      padding: 200px 50px;
    }
  
    .footer {
      padding: 100px 40px;
    }
}